.gameOverScreen {
  text-align: center;

  .title {
    font-size: 72px;
    text-transform: uppercase;
  }

  .finalScore {
    font-size: 24px;
    margin-top: 18px;
  }

  .startGame {
    font-size: 36px;
    margin-top: 48px;
  }
}
